.navbar {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    margin: 20px 0;
    gap: 8px;
  }
}

.nav-links{
  display: flex;
  gap: 16px;
}